{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Halo, {{ user }}</h2>
    <a href="{{ url_for('main.logout') }}">Logout</a>

    <h3>Kirim Pesan</h3>
    <form method="POST">
        <input type="text" name="message" placeholder="Ketik pesan..." required>
        <button type="submit">Kirim</button>
    </form>

    <h3>Pesan Terbaru:</h3>
    <ul>
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% else %}
            <li><i>Belum ada pesan</i></li>
        {% endfor %}
    </ul>
{% endblock %}
